# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-dist/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script, before pyinstaller
#  operates on it to create a standalone executable
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the Python is
#   environment-specific.
# .python-version

# pipenv
#   According to pypa/pipenv#1255, pipenv should ideally be checked into control.
#   Pipfile.lock contains system-specific bits and should be ignored
#   unless the target tripplet is uniform.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock contains system-specific bits and should be ignored
#   unless the target tripplet is uniform.
#poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock contains system-specific bits and should be ignored
#   unless the target tripplet is uniform.
#pdm.lock

# PEP 582; used by e.g. github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is located in a separate file.
#  Search for .idea; can be ignored if you are the only developer working on the project.
# .idea/

# Large files and datasets
*.zip
*.rar
*.7z
*.tar.gz
model_weights/
synthetic_data/
test_images/
MRI Dataset*/
node_modules/
.DS_Store
Thumbs.db
